body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;   
}



.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;         
    width: 40vw;
    gap: 20px;
    margin: 0 auto;          
}

.hello {
    text-align: center;
}

